@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}

*::-moz-selection {
  background-color: #4C84FF;
  color: #FFF;
}

*::selection {
  background-color: #4C84FF;
  color: #FFF;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #4C84FF #EEE;
}

html::-webkit-scrollbar {
  width: 1.3rem;
}

html::-webkit-scrollbar-track {
  background-color: #EEE;
}

html::-webkit-scrollbar-thumb {
  background-color: #4C84FF;
}

body {
  background: #EEE;
}

section {
  padding: 1rem;
  padding: 0 8%;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  padding: .9rem 3.5rem;
  font-size: 2rem;
  background: none;
  color: #FFF;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid #4C84FF;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: .5rem;
  background: #4C84FF;
  height: 85%;
  width: 95%;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover:before {
  top: 100%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.btn:hover {
  color: #222;
}

.heading {
  font-size: 5rem;
  color: #222;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.heading span {
  color: #4C84FF;
  text-transform: uppercase;
}

#menu {
  font-size: 2rem;
  background: #4C84FF;
  color: #FFF;
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  text-align: center;
  line-height: 5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 2.4rem;
  right: 2.5rem;
  padding: 1.1rem 2rem;
  padding-right: 4rem;
  z-index: 999;
  border: 0.2rem solid #4C84FF;
  border-radius: 1rem;
  background: #FFF;
  opacity: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  padding-right: 7rem;
  color: #222;
}

.navbar a:hover {
  color: #4C84FF;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.nav-toggle {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  width: 40rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-top: 3rem solid #FFF;
  border-right: 3rem solid #FFF;
  border-bottom: 3rem solid #4C84FF;
  border-left: 3rem solid #4C84FF;
  border-radius: .5rem;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 1rem;
}

.home .content .hello {
  display: inline-block;
  padding: 1rem 0;
  font-size: 2.6rem;
  color: #666;
}

.home .content h3 {
  color: #222;
  font-size: 5rem;
}

.home .content h3 span {
  color: #4C84FF;
}

.home .content p {
  padding: 1rem 0;
  color: #666;
  font-size: 2rem;
  text-transform: none;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .row .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background-color: #FFF;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: .5rem 1.5rem;
  margin: 1.5rem;
}

.about .row .box .title {
  color: #222;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.about .row .box .progress {
  padding: 1rem 0;
}

.about .row .box .progress h3 {
  font-size: 1.7rem;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .row .box .progress .bar {
  height: 2.5rem;
  border-radius: .5rem;
  border: 0.2rem solid #4C84FF;
  padding: .5rem;
  margin: 1rem 0;
}

.about .row .box .progress .bar span {
  height: 100%;
  border-radius: .3rem;
  background-color: #4C84FF;
  display: block;
}

.about .row .box:nth-child(1) .progress:nth-child(2) .bar span {
  width: 98%;
}

.about .row .box:nth-child(1) .progress:nth-child(3) .bar span {
  width: 98%;
}

.about .row .box:nth-child(1) .progress:nth-child(4) .bar span {
  width: 95%;
}

.about .row .box:nth-child(1) .progress:nth-child(5) .bar span {
  width: 80%;
}

.about .row .box:nth-child(2) .progress:nth-child(2) .bar span {
  width: 95%;
}

.about .row .box:nth-child(2) .progress:nth-child(3) .bar span {
  width: 98%;
}

.about .row .box:nth-child(2) .progress:nth-child(4) .bar span {
  width: 75%;
}

.about .row .box:nth-child(2) .progress:nth-child(5) .bar span {
  width: 80%;
}

.about .row .box .exp-box {
  padding: 0 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-left: 0.2rem solid #4C84FF;
  position: relative;
}

.about .row .box .exp-box h2 {
  color: #4C84FF;
  font-size: 2rem;
}

.about .row .box .exp-box h3 {
  color: #666;
  font-size: 2rem;
  padding-top: 1rem;
}

.about .row .box .exp-box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.about .row .box .exp-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: #4C84FF;
}

.about .download {
  background-color: #FFF;
  border-radius: .5rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-bottom: 3rem;
  margin: 1rem;
}

.portfolio .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.portfolio .button-container .btn {
  margin: 1rem;
  cursor: pointer;
}

.portfolio .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.portfolio .image-container .box {
  width: 32rem;
  height: 25rem;
  margin: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  border: 1.5rem solid #FFF;
  cursor: pointer;
}

.portfolio .image-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .image-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: .9;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.portfolio .image-container .box .info h3 {
  font-size: 2.5rem;
  color: #222;
  text-transform: uppercase;
}

.portfolio .image-container .box .info p {
  font-size: 1.4rem;
  border-top: 0.2rem solid #4C84FF;
  border-bottom: 0.2rem solid #4C84FF;
  margin: .5rem 1rem;
  color: #666;
}

.portfolio .image-container .box:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact {
  min-height: 50vh;
}

.contact .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .box-container .box {
  margin: 1rem;
  padding: 3rem 1rem;
  background: #FFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  text-align: center;
  width: 32rem;
  height: 20rem;
}

.contact .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  background: #EEE;
  color: #4C84FF;
  font-size: 3rem;
}

.contact .box-container .box h3 {
  color: #222;
  padding: 1rem 0;
  font-size: 2rem;
}

.contact .box-container .box p {
  font-size: 1.5rem;
  color: #666;
}

.contact .box-container .box p a {
  color: #666;
}

footer {
  padding: 2.5rem 1rem;
  text-align: center;
  font-size: 2rem;
  color: #222;
  background-color: #FFF;
  margin-top: 1rem;
}

footer span {
  color: #4C84FF;
}

.container {
  position: relative;
}

.container .slide-contanier {
  display: none;
}

.container .slide-contanier .slide {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  padding: 20px 9%;
  padding-bottom: 70px;
}

.container .slide-contanier .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  -webkit-animation: slideContent .4s linear .6s backwards;
          animation: slideContent .4s linear .6s backwards;
}

.container .slide-contanier .slide .content h1 {
  font-size: 3rem;
}

.container .slide-contanier .slide .content h3 {
  font-size: 2rem;
  color: #333;
}

.container .slide-contanier .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 10px 0;
}

.container .slide-contanier .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

.container .slide-contanier .slide .image img {
  width: 100%;
  -webkit-animation: slideImage .4s linear;
          animation: slideImage .4s linear;
}

.container .slide-contanier .s1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #F9F9F9), color-stop(30.1%, #FF9));
  background: linear-gradient(90deg, #F9F9F9 70%, #FF9 30.1%);
}

.container .slide-contanier .s2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #F9F9F9), color-stop(30.1%, #FF9090));
  background: linear-gradient(90deg, #F9F9F9 70%, #FF9090 30.1%);
}

.container .slide-contanier .s3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #F9F9F9), color-stop(30.1%, #9BF));
  background: linear-gradient(90deg, #F9F9F9 70%, #9BF 30.1%);
}

.container #prev, .container #next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  background: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.container #prev:hover, .container #next:hover {
  background-color: #666;
}

.container #prev {
  left: 20px;
}

.container #next {
  right: 20px;
}

@-webkit-keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes slideContent {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@-webkit-keyframes slideImage {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes slideImage {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

.container .slide-contanier.active {
  display: block;
}

@media (max-width: 500px) {
  .container #prev {
    left: 0px;
    top: 60%;
  }
  .container #next {
    right: 0px;
    top: 60%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 1rem;
    padding: 0 3%;
  }
}

@media (max-width: 768px) {
  .home .image img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .services .box-container .box {
    width: 100%;
  }
  .portfolio .image-container .box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */